[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Matthieu Coureur
	email = mcoureur180505@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
[merge]
	tool = vimdif
